# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Environment files
.env
venv/
env/

# System files
.DS_Store
Thumbs.db

# Large or unnecessary files (optional)
*.log
